@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-white border rounded-xl p-8 text-xl font-medium 
         hover:shadow-md transition 
         flex items-center justify-center text-center;
}
